html {
  background-color: lightgray;
}

.heading {}

.banana {
  text-align: center;
  color: #00c2bb;
}

.orange {
  text-align: center;
}
#grape {
  text-align: center;
}
.mango {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 900px;
}
