html {
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Quicksand', sans-serif;
}

.banana {
  text-align: center;
  color: #0033cc;

}

.orange {
  text-align: center;
}

#grape {
  text-align: center;
}

.mango {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 900px;
  border-radius: 25px;
}

#starfruit {
  p {
    font-style: oblique;
  }
}

#somebody {
  background-color: #31CB00;
  border-radius: 20px;
  border-color: black;
  color: white;
}

#once {
  background-color: #119822;
  border-radius: 20px;
  border-color: black;
  color: white;
}

#told {
  background-color: #2A7221;
  border-radius: 20px;
  border-color: black;
  color: white;
}

#me {
  background-color: #1E441E;
  border-radius: 20px;
  border-color: black;
  color: white;
}

#world {
  background color: #152614;
  border-radius: 20px;
  border-color: black;
}

h2 {
  text-align: center;
  background-color: lightgreen;
  border-radius: 20px;
}
