html {
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
}

.heading {
  font-family: 'Quicksand', sans-serif;
}

.banana {
  text-align: center;
  color: #0033cc;\
  font: serif;
}

.orange {
  text-align: center;
}
#grape {
  text-align: center;
}
.mango {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 900px;
  border-radius: 25px;
}
